<div class="player-summary my-3">
  <div>
    Biggest Win:
    <span class="total-counter" id="total-counter"><%= @player_summary[:biggest_win] %></span>
  </div>
  <div>
    Biggest Loss:
    <span class="total-counter" id="total-counter"><%= @player_summary[:biggest_loss] %></span>
  </div>
  <div>
    Longest Winning Run:
    <span class="total-counter" id="total-counter"><%= @player_summary[:longest_winning_run] %></span>
  </div>
  <div  >
    Longest Losing Run:
    <span class="total-counter" id="total-counter"><%= @player_summary[:longest_losing_run] %></span>
  </div>
</div>

