<h5 class='mb-4'>Players 
  <%= link_to new_player_path do %>
    <i class="bi bi-person-fill-add"></i>
  <% end %>
</h5>
    
<table id = "players_table">

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player, class: ['buttonlike', ('text-priority' if player.priority?)].join(' ') %></td>
        <td class="px-2"><%= link_to edit_player_path(player[:id]) do %>
          <i class="bi bi-pencil-fill"></i>
          <% end %>
        </td>        
        <td class="px-2"><%= button_to player_path(player[:id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="bi bi-trash-fill"></i>
          <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>